.arial { font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }

.arial-blk {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-weight: 900;
}

.td1 { transition-duration: var(--duration-1); }

.self-grow-1 { flex-grow: 1; }

.bg-lighter-gray { background-color: var(--lighter-gray); }
